body, html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.output{
  border: 1px solid rgb(220, 204, 204);
  width: 240px;
}

.numKey, .plus, .minus{
  padding: 10px 20px;
}

.multi, .divide, .clear{
  padding: 8px 15px;
}

.operate{
  padding: 25px 13px;
}